@import "/src/style/theme.scss";

.dropdown-menu {
    position: relative;

    background-color: $white;
    min-width: 250px;

    .dropdown_menu--header {
        border-bottom: solid $gray 1px;

        padding: $padding_sm;

        display: flex;
        justify-content: space-between;
        padding: $padding_sm;

        pointer-events: all;
        cursor: pointer;
    }

    .dropdown_menu--items {
        position: absolute;
        box-sizing: border-box;

        background-color: $white;

        border: solid $gray 1px;
        border-top: 0px;
        border-radius: 0px 0px 10px 10px;

        width: 100%;

        .drop_down_menu_items--item {
            padding: 0 $padding_sm;
            display: flex;
            font-size: $font_size_medium;
            cursor: pointer;
            transition: width 0.2s, height 0.2s, background-color 0.2s;

            &:hover {
                background-color: rgba(182, 182, 182, 0.438);
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: $margin_xs $margin_sm $margin_sm 0;
                height: 1.25em;
                svg {
                    font-size: $svg_icon_size_default;
                }

                &:first-child {
                    margin-bottom: 0px !important;
                }
            }
        }
    }
}
