$white: #ffffff;
$white_darkened: rgb(245, 245, 245);

$gray: #e8e8e8;

$padding_xs: 0.25rem;
$padding_sm: 0.5rem;
$padding_default: 1rem;

$margin_s: 0.05rem;
$margin_xs: 0.25rem;
$margin_sm: 0.5rem;
$margin_default: 1rem;

$font_size_default: 1rem;
$font_size_medium: 1.15rem;

$svg_icon_size_default: 1.65em;
