body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Droid Sans", "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-disable-events {
  pointer-events: none;
}

.bold {
  font-weight: 600 !important;
}
